<div class="backdrop backdrop-location js-location-modal">
  <div class="modal-location">
    <div class="modal-location__container">
      <h2 class="modal-location__title">Locations</h2>
      <button
        type="button"
        class="modal-location__close-button js-location-modal-close"
      ></button>

      <div class="modal-location__body">
        <div class="modal-location__addresses addresses-modal">
          <details>
            <summary>Chicago</summary>
            <address>Address 1</address>
            <button type="button" class="addresses-modal__button">
              <div class="arrow"></div>
            </button>
          </details>
          <details>
            <summary>Los Adgeles</summary>
            <address>Address 2</address>
            <button type="button" class="addresses-modal__button">
              <div class="arrow"></div>
            </button>
          </details>
          <details>
            <summary>New York</summary>
            <address>Address 3</address>
            <button type="button" class="addresses-modal__button">
              <div class="arrow"></div>
            </button>
          </details>
        </div>
        <div id="map" class="modal-location__map"></div>
      </div>
    </div>
  </div>
</div>
<!-- script for google map -->
<script>
  function myMap() {
    var mapCanvas = document.getElementById('map');
    var mapOptions = {
      center: new google.maps.LatLng(51.5, -0.2),
      zoom: 10,
    };
    var map = new google.maps.Map(mapCanvas, mapOptions);
  }
</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=&callback=myMap"
  async
  defer
></script>
<!-- ======================== -->
