<section class="products" id="cream-brulee">
  <div class="products-container container">
    <p class="products-title-above">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="products__item products__item-ice">
        <div class="products-item-box products-item-box--ice">
          <h3 class="products-item-title">ice cream</h3>
          <p class="products-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="products-info-btn">
            <svg class="products-icon" width="11" height="10">
              <use href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <p
            class="products__overlay-desc products__overlay-desc--ice products-item-text"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, ipsum
            delectus temporibus animi sit obcaecati molestias quo natus quos
          </p>
        </div>
      </li>

      <li class="products__item products__item-coffee">
        <div class="products-item-box products-item-box--coffee">
          <h3 class="products-item-title">ice coffee</h3>
          <p class="products-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="products-info-btn">
            <svg class="products-icon" width="11" height="10">
              <use href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <p
            class="products__overlay-desc products__overlay-desc--coffee products-item-text"
          >
            aut voluptatem reprehenderit nobis laboriosam quidem numquam
            voluptates consequuntur!
          </p>
        </div>
      </li>

      <li class="products__item products__item-milkshake">
        <div class="products-item-box products-item-box--milkshake">
          <h3 class="products-item-title">milkshakes</h3>
          <p class="products-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="products-info-btn js-touch">
            <svg class="products-icon" width="11" height="10">
              <use href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <p
            class="products__overlay-desc products__overlay-desc--milkshake products-item-text"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, ipsum
            delectus temporibus animi quidem numquam voluptates consequuntur!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
